asgiref
autopep8
dj-database-url
Django
gunicorn
numpy
pandas
plotly
psycopg2-binary
pycodestyle
python-dateutil
python-decouple
pytz
retrying
six
sqlparse
Unipath
whitenoise
scikit-learn
joblib
openpyxl
scikit-learn==0.23.2
